<div class="container">
	<p class="bigger">Hey, I'm Austin</p>
	<p class="standard">
		Internet folks also call me Endain. I'm a software developer living the the greater Seattle area who has an eye for design. I love creating highly interactive, sleek and beautiful sites and apps and experimenting with new technologies to innovate and help push the web forward.
	</p>
	<p class="standard">
		Professionally I'm currently focused on using Angular and D3 to build complex and reusable data visualization tools, and sleek, intuitive UI and UI components. My other hobby interests are webGL and HTML5 Canvas along with Node.js - primarily used together to dabble in game development and game development tool creation.
	</p>
	<p class="standard">
		I use this site as an archive of all my various musings and experiments. If you're looking for any writing about the various topics that interest me check out the articles section. If you want to check out any of the various coding experiments I've done then hit up the experiments section, there's some fun stuff in there.
	</p>
	<div class="porthole">
		<img src="img/me_1.jpg"></img>
	</div>
</div>