<div class="container">
	<div class="contact">
		<div class="icon">
			<div class="porthole small">
				<img src="img/me_2.png"></img>
			</div>
		</div>
		<div class="details">
			<p class="bigger">
				Austin Steeno
			</p>
			<p class="standard" style="opacity: 0.5; margin-bottom: 15px;">
				Software Developer
			</p>
			<p class="standard">
				<a href="https://twitter.com/EndainGaming">@EndainGaming</a>
			</p>
			<p class="standard">
				<a href="mailto:austin.steeno@gmail.com">austin.steeno@gmail.com</a>
			</p>
		</div>
	</div>
</div>